@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: lightblue;
}

form {
    border: 2px black solid;
    width: 500px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.705);
}

h1 {
    text-align: center;
}

div {
    padding: 5px;
}

input, button, select {
    border-radius: 10px;
}

button#entrar {
    width: 100px;
}

button#entrar:hover {
    background-color: black;
    color: white;
}