* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightblue;
}

h1 {
    text-align: center;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 50vw;
    margin: 0 auto;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: lightgray;
}

td {
    background-color: white;
    text-align: center;
}

footer {
    padding-top: 20px;
    font-size: small;
}

footer p {
    width: 15vw;
    margin: 0 auto;
}

#aFazer {
    background-color: red;
}

#emAndamento {
    background-color: yellow;
}

#concluido {
    background-color: lightgreen;
}

#sidebar {
    width: 15vw;
    background-color: #f0f0f0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    margin-bottom: 10px;
}

#sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
}